# This is Pandas Practice

In [2]:
import pandas as pd
import os

### Pandas 2 Main DataTypes
* Series --> 1 Dimensional
* DataFrame --> 2 Dimensional --> Python Dictionary

In [12]:
# Series
car_model = pd.Series(["BMW", "Toyota", "Honda"])
car_model

0       BMW
1    Toyota
2     Honda
dtype: object

In [13]:
# Series
car_color = pd.Series(["Red", "Blue", "White"])
car_color

0      Red
1     Blue
2    White
dtype: object

In [14]:
# Data Frame
car_data = pd.DataFrame({"Car":car_model, "Color":car_color})
car_data

      Car  Color
0     BMW    Red
1  Toyota   Blue
2   Honda  White

## Importing Data using "read_csv"

In [35]:
# get current working directory
current_dir = os.getcwd()

#Project Directory
project_dir = os.path.abspath(os.path.join(current_dir, '..', '..', '..'))

#construct the path
file_path = os.path.join(project_dir, 'data','car-sales.csv')

car_sales = pd.read_csv(file_path)
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

# Describing Data

In [19]:
# Attribute (dtypes)
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [20]:
car_sales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [21]:
car_columns = car_sales.columns
car_columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [22]:
car_sales.index

RangeIndex(start=0, stop=10, step=1)

In [27]:
# describe() gives statistical information
# describe() works on only numeric columns
car_sales.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [37]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes

In [54]:
car_sales.describe().mean()

Odometer (KM)    69307.327717
Doors                4.308926
dtype: float64

In [56]:
car_sales.sum()

Make             ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Colour               WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Odometer (KM)                                               786014
Doors                                                           40
Price            $4,000.00$5,000.00$7,000.00$22,000.00$3,500.00...
dtype: object

In [58]:
car_sales.describe().sum()

Odometer (KM)    554458.621735
Doors                34.471405
dtype: float64

In [60]:
car_sales["Doors"].sum()

40

In [62]:
len(car_sales)

10