# This is Pandas Practice

In [22]:
import pandas as pd
import os

### Pandas 2 Main DataTypes
* Series --> 1 Dimensional
* DataFrame --> 2 Dimensional --> Python Dictionary

In [12]:
# Series
car_model = pd.Series(["BMW", "Toyota", "Honda"])
car_model

0       BMW
1    Toyota
2     Honda
dtype: object

In [13]:
# Series
car_color = pd.Series(["Red", "Blue", "White"])
car_color

0      Red
1     Blue
2    White
dtype: object

In [14]:
# Data Frame
car_data = pd.DataFrame({"Car":car_model, "Color":car_color})
car_data

      Car  Color
0     BMW    Red
1  Toyota   Blue
2   Honda  White

## Importing Data using "read_csv"

In [30]:
# get current working directory
current_dir = os.getcwd()

#Project Directory
project_dir = os.path.abspath(os.path.join(current_dir, '..'))

#construct the path
file_path = os.path.join(project_dir, 'data','car-sales.csv')

#car_sales = pd.read_csv(file_path)
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00